@model SupportViewModel

<form method="post">
    <input type="text" name="message" />
    <input type="hidden" name="caseId" value="@Model.Id" />
    <input type="submit" asp-controller="Support" asp-action="SendMessage" value="Send" class="btn btn-primary" />
</form>