@model GameViewModel

<div class="text-left">
    <h1 class="display-4">@Model.Name</h1>
</div>

<div id="game_images" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://click-storm.ru/i/articles/1/14338/dota2screenshot.jpg" alt="Image unavailable" width="1100" height="500" />
        </div>
        <div class="carousel-item">
            <img src="https://cdn.akamai.steamstatic.com/steam/apps/570/ss_86d675fdc73ba10462abb8f5ece7791c5047072c.1920x1080.jpg" alt="Image unavailable" width="1100" height="500" />
        </div>
    </div>

    <a class="carousel-control-prev" href="#game_images" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#game_images" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

